<div class="container">
  <div class="img-container">
    <img [src]="recipe.image" alt="">
  </div>

  <app-recipe-name-bar [recipe]="recipe" ></app-recipe-name-bar>

  <div class="data-container">
    <h1 class="mat-subheading-2">Description</h1>
    <div class="description mat-body-1" >{{ recipe.description }}</div>

    <h1 class="mat-subheading-2">Ingredients</h1>
    <div *ngFor="let i of recipe.ingredients">
      <app-recipe-ingredient [ingredient]="i"></app-recipe-ingredient>
    </div>

    <h1 class="mat-subheading-2">Directions</h1>
    <div *ngFor="let d of recipe.steps">
      <app-recipe-step [step]="d.step" [num]="d.number"></app-recipe-step>
    </div>

    <!-- TODO: DANGER ZONE: collapsible (expansion?) folder for report recipe button-->

  </div>
</div>
