<div class="container">
  <div class="img-container">
    <img src="assets/img/Prosciuttopizzahoriz-d8f1759cf683436aae8f2d184b3267fb.jpg">
  </div>

  <app-recipe-name-bar></app-recipe-name-bar>

  <div class="data-container">
    <h1 class="mat-subheading-2">Description</h1>
    <div class="description mat-body-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan vestibulum dui, vel
      tempus est varius finibus. Morbi nisi purus, interdum interdum commodo sed, cursus eget dolor. Donec volutpat
      massa ut venenatis pulvinar.
    </div>

    <h1 class="mat-subheading-2">Ingredients</h1>
    <div *ngFor="let i of recipe.ingredients">
      <app-recipe-ingredient [ingredient]="i"></app-recipe-ingredient>
    </div>

    <h1 class="mat-subheading-2">Directions</h1>
    <div *ngFor="let d of recipe.ingredients!">
      <app-recipe-step [step]="d.name" [num]="5"></app-recipe-step>
    </div>

    <!-- TODO: DANGER ZONE: collapsible (expansion?) folder for report recipe button-->

  </div>
</div>
