<mat-card class="mat-elevation-z4">
    <div class="card-content">
        <h1>{{ recipe.name }}</h1>
        <div class="link-container">
            <img src="{{website_ico}}">
            <a href="{{ recipe.url }}" target="_blank"> {{website}}</a>
            <button mat-mini-fab color="primary" *ngIf="recipeBookmarkState == bookmarkStateType.delete" (click)="fabClicked(recipeBookmarkState, 'favourite')">
                <mat-icon *ngIf=" recipeFavouriteState === FavoriteStateType.add" color="white">favorite_border</mat-icon>
                <mat-icon *ngIf=" recipeFavouriteState !== FavoriteStateType.add" color="white">favorite</mat-icon>
                <mat-spinner *ngIf=" recipeFavouriteState !== FavoriteStateType.add" color="white" [diameter]="24"></mat-spinner>
            </button>
        </div>

        <mat-divider [inset]="true"></mat-divider>

        <mat-chip-list aria-label="Recipe categories">
            <div *ngFor="let c of recipe.categories">
                <a [routerLink]="['/category', c]">
                    <mat-chip>{{c}}</mat-chip>
                </a>
            </div>
        </mat-chip-list>
    </div>

    <div class="app-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="fabClicked(recipeBookmarkState, 'bookmarker')">
            <mat-icon *ngIf=" recipeBookmarkState === bookmarkStateType.add">bookmark_add</mat-icon>
            <mat-icon *ngIf=" recipeBookmarkState === bookmarkStateType.delete">delete</mat-icon>
            <mat-spinner color="white" [diameter]="24" *ngIf=" recipeBookmarkState === bookmarkStateType.inProgress"></mat-spinner>
        </button>
    </div>

</mat-card>
