<div class="container">
    <h1 class="mat-subheading-1">Register</h1>

    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="" appearance="outline" color="primary">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Example Pat">
            <mat-error
                *ngIf="isFieldInvalidNotMissing('name')">
                Please enter a <strong>valid</strong> name
            </mat-error>
            <mat-error *ngIf="isFieldMissing('name')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <mat-form-field class="" appearance="outline" color="primary">
          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username" placeholder="pat_username53">
          <mat-error *ngIf="isFieldInvalidNotMissing('username')">
            Please enter <strong>at least</strong> 4 characters
          </mat-error>
          <mat-error *ngIf="isFieldMissing('username')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="" appearance="outline" color="primary">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="pat@example.com">
          <mat-error *ngIf="isFieldInvalidNotMissing('email')">
            Please enter a <strong>valid</strong> email address
          </mat-error>
          <mat-error *ngIf="isFieldMissing('email')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let g of genders" [value]="g">{{g}}</mat-option>
          </mat-select>
          <mat-error *ngIf="isFieldMissing('gender')">
            Gender is <strong>required</strong>
          </mat-error>
        </mat-form-field>

         <mat-form-field appearance="outline">
           <mat-label>Birth date</mat-label>
           <input matInput [matDatepicker]="picker" formControlName="birthDate" placeholder="mm/dd/yyyy">
           <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
           <mat-datepicker #picker></mat-datepicker>
           <mat-error *ngIf="isFieldMissing('birthDate')">
             Birth date is <strong>required</strong>
           </mat-error>
         </mat-form-field>

        <mat-form-field class="" appearance="outline" color="primary">
          <mat-label>Password</mat-label>
          <input  matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="isFieldInvalidNotMissing('password')">
            Password must be at least 4 characters, numbers and special characters
          </mat-error>
          <mat-error *ngIf="isFieldMissing('password')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="" appearance="outline" color="primary">
          <mat-label>Password Again</mat-label>
          <input type="password" matInput formControlName="password2" [type]="hide2 ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="isFieldInvalidNotMissing('password2')">
            Passwords aren't matching
          </mat-error>
          <mat-error *ngIf="isFieldMissing('password2')">
            Confirmation password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Register</button>
        <!--[disabled]="!registerForm.valid"-->
    </form>
</div>
