@use '~@angular/material' as mat;
@use "src/theme/color";

:host{
  min-width: fit-content;
}

mat-card{
  max-width: 250px;
  padding: 0;
  background-color: mat.get-color-from-palette(color.$my-primary, 100);

  img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0;
  }

  mat-card-content{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;

  }

}
