@use '~@angular/material' as mat;
@import "color";


//Color map
$my-warn: mat.define-palette(mat.$red-palette);



//Typography
$body-1: mat.define-typography-level(
  $font-family: Lekton,
  $font-weight: 400,
  $font-size: 18px,
  $line-height: 22px,
  $letter-spacing: 0.5px,
);

$body-2: mat.define-typography-level(
  $font-family: Lekton,
  $font-weight: 400,
  $font-size: 20px,
  $line-height: 22px,
  $letter-spacing: 0.5px,
);

$subheading-2: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 500,
  $font-size: 20px,
  $line-height: 24px,
  $letter-spacing: 0.15px,
);

$display-3: mat.define-typography-level(
  $font-family: Montserrat,
  $font-weight: 600,
  $font-size: 48px,
  $line-height: 56px,
  $letter-spacing: 0.15px,
);

$subheading-1: mat.define-typography-level(
  $font-family: Montserrat,
  $font-weight: 600,
  $font-size: 24px,
  $line-height: 24px,
  $letter-spacing: 0.18 px,
);

.mat-subheading-1,
.mat-display-3{
  color: mat.get-color-from-palette($my-accent , 500);
}

$my-custom-typography-config: mat.define-typography-config(
  $body-1: $body-1,
  $body-2: $body-2,
  $subheading-2: $subheading-2,
  $display-3: $display-3,
  $subheading-1: $subheading-1

  /*$display-4: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat.define-typography-level(34px, 40px, 400),
  $headline:  mat.define-typography-level(24px, 32px, 400),*/
);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  )
));

// Set custom background color
$background: map-get($my-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$my-theme: map_merge($my-theme, (background: $background));

@include mat.core($my-custom-typography-config);
//@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

