@use "src/theme/mixins";

@use "src/theme/color";


.list{
  position: relative;

  &.list--scrolled-left{
    color: red;
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 15px;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255,255,255,0), color.$custom-background-color 85%);
    width: 15%;
  }

  .list__container{

    @include mixins.flex(row,$gap:5px);

    overflow-x: auto;
    padding: 5px;
    position: relative;

  }

}
