@use "../../../theme/mixins/breakpoints";
@use "src/theme/color";
@use '~@angular/material' as mat;


.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;

  mat-form-field {
    margin: auto;
    padding-bottom: -1.34375em!important;
  }

  @include breakpoints.media-breakpoint-down(sm) {

    #amount,
    #measurement,
    {
      max-width: 95px;
    }
  }

}







