@use "../../../theme/mixins/breakpoints";
@use "src/theme/color";
@use '~@angular/material' as mat;


.container {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    padding-bottom: -1.34375em!important;
  }

  mat-form-field:not(:last-of-type){
    max-width: 95px;
  }
  mat-form-field:last-of-type{
    flex-grow: 1;
  }

  button{
    align-self: center;
    margin-bottom: 24px;
  }

}







