<form class="shopping-list-input-form container">
  <mat-form-field id="amount{{id}}" class="input" appearance="outline" color="accent">
    <mat-label>Amount</mat-label>
    <input matInput id="amount-input" maxlength="10" type="number" placeholder="0.5"
           (focus)="onFocusEvent($event, 'amount', id)">
  </mat-form-field>

  <mat-form-field id="measurement{{id}}" appearance="outline" class="input" color="accent">
    <mat-label>Measure</mat-label>
    <mat-select id="measurement-input" (focus)="onFocusEvent($event, 'measure', id)">
      <mat-option *ngFor="let m of measures" [value]="m">
        {{m}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-form-field id="name{{id}}" class="input" color="accent" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput id="name-inut" maxlength="256" type="text" list="names" placeholder="Flour"
             (focus)="onFocusEvent($event, 'name', id)">
      <datalist id="names">
        <option *ngFor="let n of ingredientNamesList | slice:0:5;" [value]="n"> {{n}}</option>
      </datalist>
    </mat-form-field>

  </div>

  <mat-hint><strong id="hint{{id}}" class="hint">hint</strong></mat-hint>
</form>
