<div>
    <div class="shopping-list-input-form container">
        <mat-form-field id="amount" class="input" appearance="outline" color="accent">
            <mat-label>Amount</mat-label>
            <input matInput id="amount-input" maxlength="10" type="number" placeholder="0.5" [(ngModel)]="ing.amount"
                   (focus)="onFocusEvent($event, 'amount')">
        </mat-form-field>

        <datalist id="units">
            <option *ngFor="let n of measures | slice:0:5;" [value]="n"> {{n}}</option>
        </datalist>

        <mat-form-field id="measurement" class="input" color="accent" appearance="outline">
            <mat-label>Unit</mat-label>
            <input matInput id="measurement-inut" maxlength="10" type="text" placeholder="kg" list="units" [(ngModel)]="ing.measurement">
        </mat-form-field>


        <mat-form-field id="name" class="input" color="accent" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput id="name-inut" maxlength="256" type="text"  placeholder="Flour"
                   (focus)="onFocusEvent($event, 'name')" [(ngModel)]="ing.name">
        </mat-form-field>

        <button mat-stroked-button color="accent" (click)="add()">
            <mat-icon aria-hidden="false" aria-label="add to shopping cart">add_shopping_cart</mat-icon>
        </button>

        <mat-hint><strong id="hint">hint</strong></mat-hint>
    </div>
</div>



