@use "../../../theme/mixins/breakpoints";
@use "src/theme/color";
@use '~@angular/material' as mat;


.container {
    display: flex;
    //flex-flow: row;
    //justify-content: center;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;

    mat-form-field {
        padding-bottom: -1.34375em !important;
    }

    mat-form-field:not(:last-of-type) {
        max-width: 95px;
        @include breakpoints.media-breakpoint-down(rrs) {
            max-width: 50%;
        }
    }

    mat-form-field:last-of-type {
        flex-grow: 1;
    }

    button {
        margin-right: auto;
        margin-left: 4px;
        height: 66px;
        margin-top: 5px;
        vertical-align: top;
        border-color: mat.get-color-from-palette(color.$my-accent, 500) ;
        /*align-self: center;
        margin-bottom: 24px;*/

        @include breakpoints.media-breakpoint-down(sm) {
            //margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            //margin-bottom: 20px;
        }
    }
}







